.header {
    display: flex;
    height: 70px;
    align-items: top;
    background-color: #3c3f5c;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}

.right-section,
.left-section {
    display: flex;
    align-items: center;
    height: 70px;
}

.right-section {
    width: 32%;
    justify-content: space-between;
    margin-right: 50px;

}

.left-section {
    padding-left: 30px;
    width: 51%;
}

.logo {
    height: 70px;
    margin-left: 20px;
    margin-right: 30px;
}
.company-name{
    color:white;
}

.home-text,.login-text,.signup-text,.aboutus-text{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Media queries for header on smaller screens */
@media screen and (max-width: 768px) {
    .header {
        height: 70px; /* Adjust the header height for smaller screens */
    }

    .right-section {
        width: 50%; /* Reduce the width of the right section */
        margin-right: 10px; /* Adjust the margin for spacing */
    }

    .left-section {
        width: 50%; /* Reduce the width of the left section */
    }

    .logo {
        height: 48px; /* Adjust the logo size for smaller screens */
        margin-left: 10px; /* Adjust the margin for spacing */
        margin-right: 20px; /* Adjust the margin for spacing */
    }


    @media screen and (max-width: 480px) {
        .header {
            height: 50px; /* Adjust the header height for mobile phones */
        }

        .right-section, .left-section {
            width: 100%; /* Take full width on mobile phones */
        }

        .right-section {
            display: flex;
            justify-content: space-between; /* Align items in right section */
            padding: 0 10px; /* Add padding for spacing */
        }

        .logo {
            height: 30px; /* Adjust the logo size for mobile phones */
            margin-left: 10px; /* Adjust the margin for spacing */
            margin-right: 10px; /* Adjust the margin for spacing */
        }

        /* You can add additional styles as needed for smaller screens */
    }
}
