<%- include('partials/header') %>
<div class="header">
    <div class="left-section">
        <div class="logo-sec">
            <img class="logo" src="icons\home page\logo.png">
        </div>
        <div class="comp-sec">
            <p class="company-name"  href="###">
                Genesis
            </p>
        </div>
    </div>
    <div class="right-section">
        <div class="home">
            <p class="home-text"  href="###">
                Home
            </p>
        </div>

        <div class="login">
            <p class="login-text"  href="###">
                My account
            </p>
        </div>

        <div class="about-us">
            <p class="aboutus-text"  href="###">
                About us
            </p>
        </div>
    </div>
</div>

<p class="hospital-text">
    Select Hospital
</p>
<div class="hospital-sec">
   
    <div class="hospital-options">
        <button class="hospital-button">
            Hospital 1
        </button>
        <button class="hospital-button">
            Hospital 2
        </button> 
        <button class="hospital-button">
            Hospital 3
        </button>
        <button class="hospital-button">
            Hospital 4
        </button>
        <button class="hospital-button">
            Hospital 5
        </button> 
        <button class="hospital-button">
            Hospital 6
        </button>
        <button class="hospital-button">
            Hospital 7
        </button>
        <button class="hospital-button">
            Hospital 8
        </button> 

    </div>
</div>

<p class="specialist-text">
    Specialist
</p>
<div class="specilisation-dep">
    <div class="specialization-options">
        <button class="specialization-button">
            Gynacologist
        </button>
        <button class="specialization-button">
            Dermetologist
        </button> 
        <button class="specialization-button">
            Ophthalmology
        </button>
        <button class="specialization-button">
            Pediatrics
        </button> 

    </div>
</div>

<p class="free-slots-text">
    Free slots
</p>
<div class="slots-dep">
    <div class="slots-options">
        <button class="slot-button">
            9:00 AM
        </button>
        <button class="slot-button">
            9:30 AM
        </button> 
        <button class="slot-button">
            10:00 AM
        </button>
        <button class="slot-button">
            10:30 AM
        </button> 
        <button class="slot-button">
            11:00 AM
        </button>
        <button class="slot-button">
            11:30 AM
        </button> 
        <button class="slot-button">
            12:00 AM
        </button> 
        <button class="slot-button">
            1:30 AM
        </button>
        <button class="slot-button">
            2:00 AM
        </button> 
        <button class="slot-button">
            2:30 AM
        </button>
        <button class="slot-button">
            3:00 AM
        </button> 
        <button class="slot-button">
             3:30 AM
        </button>
        <button class="slot-button">
            4:00 AM
        </button> 
        <button class="slot-button">
            4:30 AM
        </button>
        <button class="slot-button">
            5:00 AM
        </button> 
        <button class="slot-button">
            5:30 AM
        </button>
        <button class="slot-button">
            6:00 AM
        </button> 
        <button class="slot-button">
            6:30 AM
        </button>
        <button class="slot-button">
            7:00 AM
        </button> 
        <button class="slot-button">
            7:30 AM
        </button>

    </div>
</div>

<p class="doctors-text">
    Doctors
</p>
<div class="doctors-dep">
    <div class="doctors-options">
        <button class="doctor-button">
            Doctor 1
        </button>
        <button class="doctor-button">
            Doctor 2
        </button> 
        <button class="doctor-button">
            Doctor 3
        </button>
        <button class="doctor-button">
            Doctor 4
        </button> 

    </div>
</div>

<p class="payments-text">
    Payment
</p>
<form>
<label class="payment-font"> UPI ID:</label>
<input class="" type="text"  name="upi-id" placeholder="Enter your UPI ID" required>
<button class="pay">
    Pay Now
</button>
</form>

<%- include('partials/footer.ejs') %>