.appoint-sec{
    display:flex;
    flex-direction: row;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #f1eff4;
}
.appointment-cards{
  height:195px;
  width: 250px;
  border-radius: 10px;
  margin-left: 40px;  
  background-color: #d9e0f0;
}

.scroll-bar{
    display: grid;
    overflow-x: scroll;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}


.scroll-bar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.date-sec{
    height:50px;
    background-color:#3c3f5c ;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:0px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    color: white;
}

.status{
    display: inline-block;
    margin: 12px;
}
.docname,.time{
    margin:12px;
}
.status-button{
    display: inline-block;
    padding: 10px;
    background-color: #3c3f5c;
    border: none;
    border-radius: 5px;
    color: white;
}
.status-button:hover{
    border-style:solid ;
    border-color:#3c3f5c ;
    background-color: white;
    color: #3c3f5c;
}

.status-button:active{
    background-color: #3c3f5c;
    border: none;
    border-radius: 5px;
    color: white;
    opacity: 0.8;
}

